[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
catboost = "*"
ipywidgets = "*"
sklearn = "*"
scikit-learn = "*"

[dev-packages]
tensorboard = "*"
ipykernel = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
